
<app-barcode-scanner
 [isActive] = "isActive"
 [runtimeSettings] = "runtimeSettings"
 [torchOn] = "torchOn"
 [zoomFactor] = "zoomFactor"
 dceLicense = "DLS2eyJoYW5kc2hha2VDb2RlIjoiMjAwMDAxLTE2NDk4Mjk3OTI2MzUiLCJvcmdhbml6YXRpb25JRCI6IjIwMDAwMSIsInNlc3Npb25QYXNzd29yZCI6IndTcGR6Vm05WDJrcEQ5YUoifQ=="
 dbrLicense = "DLS2eyJoYW5kc2hha2VDb2RlIjoiMjAwMDAxLTE2NDk4Mjk3OTI2MzUiLCJvcmdhbml6YXRpb25JRCI6IjIwMDAwMSIsInNlc3Npb25QYXNzd29yZCI6IndTcGR6Vm05WDJrcEQ5YUoifQ=="
 (onFrameRead)="onFrameRead($event)"></app-barcode-scanner>

<div>
  <svg
    class="viewfinder"
    [attr.viewBox]="viewBox">
    <rect [attr.x]="left" [attr.y]="top" [attr.width]="right - left" [attr.height]="bottom - top" class="scan-rect"/>
  </svg>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="zoomOut()">
        <ion-icon name="remove"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="zoomIn()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="toggleTorch()">
        <ion-icon name="flashlight-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</div>


